# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.Python
.venv/
venv/
env/

# Notebooks
.ipynb_checkpoints/

# Data artifacts
data/raw/
data/processed/
data/interim/
feature_store/

# ML tooling
mlruns/
.mlflow/
.prefect/
.dvc/

# IDE / OS
.DS_Store
.idea/
.vscode/

# Logs
logs/

# Secrets
.env
credentials/
